/*Activity Page Styles*/

/*--Action Buttons --*/
.action-buttons{
	margin-bottom:15px;
}
.main-container .activities-page{
	padding: 0px 0px;
	height: 100%;
}
.main-container .activities-page .tab-content{
    margin: 10px 20px;
    height: 70%;
    overflow-x: hidden;
}
.activities-page .content-top{
	margin: 17px;
	border-bottom: 1px solid #E6E6E6;
	padding-bottom: 0px;
	width: 96%;
}
.activities-page .content-top .title{
	width:auto;
	display: inline-block;
}
.activities-page .content-top .edit{
	margin-left: 2%;
	display: inline;
}
.activities-page .content-top .budget{
	position:absolute;
	right:2%;
	top: 4%;
}
.activities-page .action-buttons{
	margin: 0px 20px;
	width: 96%;
}
.activities-page .user-content{
	margin: 20px;
}
.activities-page .tabs-below .tabs-container{
	width:90%;
}

.activities-page .tabs-below .controllers{
	background-color: #eeeeee;
	border-top: 1px solid #aaa;
	padding-top: 10px;
	padding-bottom: 2%;
	margin-left:0px;
	width:10%;
}

.activities-page .tabs-below .tabs-container > .nav-tabs{
	background-color: #eeeeee;
	border-top: 1px solid #aaa;
	margin-bottom: 0px;
	padding-bottom: 2%;
	height: 33px;
	white-space: nowrap;
}
.activities-page .nav-tabs > .active{
	margin-left: 22px;
}
.main-container .activities-page .nav-tabs > .active > a, 
.main-container .activities-page .nav-tabs > .active > a:hover, 
.main-container .activities-page .nav-tabs > .active > a:focus{
	border-color: transparent #aaa #aaa #aaa;
	cursor:pointer;
}

.main-container .activities-page .tabs-below .nav-tabs > li a:hover,
.main-container .activities-page .tabs-below .nav-tabs > li a:focus {
  border-bottom-color: transparent;
  border-top-color:#aaa;
  background-color: #DFDFDF;
}

.activities-page .nav-tabs > li{
white-space: nowrap;
display: inline-block;
float: none;
}

/*Profile Page Styles*/
.main-container .profile-page{
	padding: 45px;
}
.profile-page img{	
}
.profile-page .custom-file-input{
	height: 45px;
	position: absolute;
	margin-top: 12.2%;
}
body .upld-multiple{
	height: 40px;
}
body .GWTUpld .gwt-FileUpload{
	position: relative;
	top:0px;
	width: 100%;
	height: 100%;
}

.profile-page input[type="file"]:focus{
  outline: none;
  outline-offset:0px;
}

.gwt-FileUpload::-webkit-file-upload-button {
  visibility: hidden;
}
.gwt-FileUpload::before {
  content: 'Browse File';
  display: inline-block;
  background:linear-gradient(to bottom, #4d90fe, #3078eb);
  /* border: 1px solid #999; */
  border-radius: 3px;
  padding: 0px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  width: 85%;
  text-align: center;
  color: #fff;
  text-decoration: underline;
  opacity: 0.9;
}

.gwt-FileUpload:hover:before,
.gwt-FileUpload:active:before,
.gwt-FileUpload.active:before {
  /* border: 1px solid #196aeb; */
  color: #ffffff;
  background-color: #4186f6;
  cursor: pointer;
  background-image: -moz-linear-gradient(top, #4d90fe, #3078eb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#3078eb));
  background-image: -webkit-linear-gradient(top, #4d90fe, #3078eb);
  background-image: -o-linear-gradient(top, #4d90fe, #3078eb);
  /* background-image: linear-gradient(to bottom, #4d90fe, #3078eb); */
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fe', endColorstr='#ff3078eb', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #3078eb;
  background-color: #3078eb \9;
}


